<!DOCTYPE html>
<html>
<head>
  <title>Teamwork Analysis</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	  <h1> Hello, welcome to our teamwork site :) </h1>
	  <style>body{padding-top:70px;}</style>
	</body>
	</html>
