<!DOCTYPE html>
<html>
<head>
  <title>Teamwork Analysis</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	  <center><h1> Teamwork Analysis </h1></center>
    <style>body{padding-top:70px;}</style>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <center> - - - </center>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <center> - - - </center>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <center> - - - </center>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"><center><a href="#" class="btn btn-info" role="button">Overall Distribution</a></center></div>
        <div class="col-md-4"><center><a href="#" class="btn btn-info" role="button">Create Teams</a></center></div>
        <div class="col-md-4"><center><a href="#" class="btn btn-info" role="button">Individual Statistics</a></center></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <center>
            <%= image_tag('summary1.png') %>
          </center>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
