<!DOCTYPE html>
<html>
<head>
  <title>Teamwork Analysis</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div style='margin: 25px; border: 10px solid purple'>
    <div class="container", style='padding: 10px'>
        <div class="row">
            <div class="col-lg-12">
                <center>
                    <h1> Overall Distribution </h1> <br>
                    <%= image_tag('overall.png') %>
                </center>
            </div>
        </div>
    </div>
    <div style='margin: 70px; border: 10px solid powderblue'>
      <center>
      <h2>
        Understanding Styles
      </h2>
      </center>
      <div style='margin: 25px; padding: 15px; text-indent: 20px'>
      <p style='font-size: large'>
        In order to understand the teamworks styles of the people in the above graph,
        we will first look into what each of those styles are and what they mean.
        From our research and the original teamwork survey that your students or team members just took,
        this is what each style means:
     </p>
        <table style="width:100%; font-size: large; border: 3px solid black;">
        <tr >
          <th style='color: red; text-align: center'>Contributor</th>
          <th style='color: green; text-align: center'>Collaborator</th>
          <th style='color: purple; text-align: center'>Communicator</th>
          <th style='color: blue; text-align: center'>Challenger</th>
        </tr>
        <tr  style='text-align: center; '>
          <!-- contributor -->
          <td style='padding: 10px; border: 3px solid black'>
            "This member gets the team to focus on the immediate task."<sup>[1]</sup>
            They are often described as the dependable member of the team.
            As a contributor, this teammate would be most likely to finish
            tasks on time and use team resources effectively.<sup>[2]</sup></td>
          <!-- collaborator -->
          <td style='padding: 10px; border: 3px solid black'>
            "This team player emphasizes the overall purpose of the team."<sup>[1]</sup>
             The collaborator is willing to step outside of their comfort zone
             to help the team acheive their goals. Collaborators will encourage
             their team to do their best work and accomplish their goals.<sup>[2]</sup></td>
          <!-- communicator -->
          <td style='padding: 10px; border: 3px solid black'>
            "This member encourages positive interpersonal relations and group
            processes."<sup>[1]</sup> The communicator's goal is to creat a work environment
            that is positive and productive for everyone. They often take it
            upon themselves to help resolve internal conflicts between
            team memebers.<sup>[2]</sup></td>
          <!-- challenger -->
          <td style='padding: 10px; border: 3px solid black'>
            "This style asks the tough questions and pushes the team to take
            reasonable risks."<sup>[1]</sup> Coming from a strong moral basis, the challenger
            will maintain that the team is examining every option and not simply
             working in the way things have always been done.<sup>[2]</sup></td>
        </tr>
      </table> <br>
    <p style='font-size: large'>
      The survey also points out that it is important that teams have a good mix of
      these styles throughout.<sup>[1]</sup> Diversity is key in all respects and teamwork
      style is not to be forgotten. Working with "like-minded" people does not
      cultivate thorough consideration of all aspects of the project as well as
      a diverse group will. Along with this, team members should be aware of
      their own styles as well as the styles of their teammates in order to
      create a more productive environment. So make sure to share these results
      with team members and <i> why </i> they have been placed together as a team.
      </p>
    </div>

</div>
   <div style='margin: 70px; font-size: medium'>
     <h4>References:</h4>
     [1] Parker, Glenn M. 2008. <i>Team Players and Teamwork New Strategies for Developing
     Successful Collaboration.</i> Jossey-Bass: San Francisco.<br>
     [2] Briggs, Margaret H. 1993. <i>Team Talk: Communication Skills for
      Early Intervention Teams.</i> http://journals.sagepub.com/doi/abs/10.1177/
      152574019301500106. <br>

   </div>
      </div>
</body>
</html>
